.bb-only {
    display: none;
}
html {
	background-color: #E6D000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #F0F;
}
::selection,
input::selection {
	background-color: black;
	opacity: 1;
}
.content {
	margin: 0 auto;
	width: 780px;
	padding-top: 40px;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	opacity: 0.8;
}
ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1 {
	color: rgba(0,0,0,0.6);
	margin: 0 0 10px 0;
	font-size: 36px;
	padding: 0;
}
.whitebox {
	background-color: white;
	min-height: 36px;
	width: 100%;
	margin-bottom: 10px;
	color: #545342;
	transition: height 0.1s;
}
.add input {
	outline: none;
	border: none;
	padding-right: 80px;
	text-indent: 30px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: inherit;
	height: 46px;
	width: 100%;
}
.progress {
	margin: 10px 0 4px;
	width: 100%;
	height: 8px;
	outline: 1px solid #545342;
}
.progress-bar {
	background-color: #545342;
	height: 100%;
}
.pool li {
	padding: 20px 30px 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background-color: white;
	margin-bottom: 10px;
	color: #545342;
	transition: height 0.1s;
    font-size: 14px;
}
.pool:first-child {
	padding-top: 0;
}
.pool:last-child {
	border: none;
	padding-bottom: 0;
}
.pool .status {
    font-size: 10px;
    float: right;
}
.complete {
    /*font-weight: bold;*/
}
.in-progress {
    font-style: italic;
}
.pool .rm {
	background-image: url('images/rm.png');
	background-size: auto 10px;
	opacity: 0.7;
	width: 10px;
	height: 10px;
	float: right;
	margin-right: 0px;
	margin-top: 3px;
	cursor: pointer;
}
* {
	/*outline: 1px solid rgba(255,0,255,0.2);*/
}
